@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fontSize : 4rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}